@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  height: 100%;
  background-color: black;
}
header {
  margin-top: 2px;
  height: 3vw;
  width: 100%;
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-between;
}
.logocontainer {
  width: 22vw;
}
.Logo {
  cursor: pointer;
  filter: invert(1);
  width: 20px;
  margin-top: 4px;
  margin-left: 6%;
}
.Homesearch {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.Homesearch img {
  filter: invert(0.6);
}
.Home img {
  width: 50%;
}
.Home {
  cursor: pointer;
  margin-right: 5px;
  justify-content: center;
  display: flex;
  height: 2.5vw;
  width: 2.5vw;
  background-color: #1f1f1f;
  border-radius: 50%;
}
.SearchBar img {
  cursor: pointer;
  margin: 3%;
  width: 5%;
}
.search {
  display: flex;
  justify-content: left;
}
.SearchBar {
  margin-left: 5px;
  height: 2.5vw;
  width: 25vw;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #1f1f1f;
  border-radius: 17px;
}
.input {
  width: 21vw;
  font-weight: bold;
  background-color: #1f1f1f;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: text;
  caret-color: #b3b3b3;
}
.input::placeholder {
  align-items: center;
  color: #b3b3b3;
  font-weight: 400;
  font-size: 7px;
}
.SearchBar:hover {
  background-color: #2a2a2a;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.SearchBar:hover .input {
  background-color: #2a2a2a;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.browse img {
  height: 50%;
  width: 50%;
  padding-top: 12%;
}
.browse {
  cursor: pointer;
  padding-left: 13px;
  position: relative;
}
.browse::after {
  position: absolute;
  content: "";
  background-color: #9f9f9f;
  height: 15px;
  width: 0.1px;
  top: 20%;
  left: 13%;
}
.options {
  cursor: pointer;
  color: #afafaf;
  font-weight: 900;
  font-size: 7px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.options:hover {
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.install {
  display: flex;
  gap: 4px;
}
.installimg {
  filter: invert(0.75);
  width: 10px;
}
button {
  cursor: pointer;
  margin: 5px;
  font-weight: 800;
  font-size: 7px;
  height: 2.6vw;
  width: 5.3vw;
  border: none;
  border-radius: 20px;
}
.main {
  display: flex;
  height: 84vh;
  width: 100%;
  align-items: stretch;
}
.library {
  position: relative;
  width: 23%;
  border-radius: 5px;
  background-color: #121212;
  color: white;
  font-weight: bolder;
  font-size: 8px;
}
.libheader {
  margin: 3px;
  padding-left: 10px;
  padding-right: 10px;
  height: 7%;
  width: 90%;
  display: flex;
  align-items: center;

  justify-content: space-between;
}
.addlibrary {
  display: flex;
  cursor: pointer;
  background-color: #121212;
  height: 25px;
  width: 25px;
  position: relative;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}
.addlibrary:hover {
  background-color: rgb(44, 44, 44);
  transition: background-color 0.2s ease, color 0.2s ease;
}
.addlibrary:hover .add {
  filter: invert(1);
}
.add {
  position: absolute;
  width: 11px;
  filter: invert(0.7);
}
.createplaylist {
  margin: 5px;
  margin-top: 30px;
  padding: 10px;
  height: max-content;
  width: 89%;
  background-color: #1f1f1f;
  border-radius: 5px;
}
.browsepodcast {
  margin-top: 20px;
  margin-left: 5px;
  padding: 10px;
  height: max-content;
  width: 89%;
  background-color: #1f1f1f;
  border-radius: 5px;
}
span > h4 {
  margin: 0;
  padding: 0;
}
span > p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 7px;
}
span > button {
  margin-top: 9px;
  margin-left: 0;
  font-size: 6px;
  font-weight: 800;
  padding: 7px;
  padding-left: 9px;
  padding-right: 9px;
  height: fit-content;
  width: auto;
  border-radius: 190px;
}
footer {
  margin: 5px;
  font-size: 5px;
  position: absolute;
  bottom: 2%;
}
footer a {
  text-decoration: none;
  padding-left: 10px;
  color: rgb(153, 153, 153);
}
.cookie {
  margin-top: 6px;
}
.cookie a {
  text-decoration: none;
  color: white;
  font-size: 1vh;
}
.cookie a:hover {
  text-decoration: underline;
}
.language {
  cursor: pointer;
  margin: 10px;
  margin-top: 2vw;
  bottom: 2%;
  padding: 5px;
  padding-left: 8px;
  padding-right: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  border: thin solid rgb(161, 161, 161);
  border-radius: 15px;
  font-size: 6px;
  font-weight: bolder;
}
.language img {
  filter: invert(1);
  width: 10px;
}
.library,
.contents {
  margin: 4px; /* Adjust margin as needed */
}
.contents {
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  padding-top: 10px;
  padding-right: 12px;
  width: 75%;
  border-radius: 5px;
  background: linear-gradient(#282828, 30%, #121212);
  font-size: 1vh;
}
.contents h1 {
  padding-left: 28px;
}
.cardcontainer {
  margin-bottom: 30px;
  margin-left: 18px;
  width: 100%;
  height: 34%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Enable horizontal scroll */
  overflow-y: hidden; /* Hide vertical overflow */
  /* background-color: #614c4c; */
}
.card {
  color: white;
  padding: 8px 8px 8px 8px;
  height:90%;
  width: 9vw;
  position: relative;
  /* border: 1px solid white; */
border-radius: 5px;
}
.card img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 6px;
  display: block;

  z-index: 1;
  display: block;
}
span,
p {
margin: 2px;
  cursor: default;
}
.card > span {
  font-weight: bolder;
  font-size: 7px;
  white-space: nowrap; /* Prevent line break */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Show ... for clipped text */
  display: block;
}
.card > p {
  margin-top: 0px;
  font-size: 6px;
  white-space: nowrap; /* Prevent line break */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Show ... for clipped text */
  display: block;
}
.card .playbutton {
  width: 40px;
  right: 7%;
  bottom: 24%;
  position: absolute;
  opacity: 0;
  transform: translateY(5px);
  transition: transform 0.2s ease, opacity 0.2s ease;
  z-index: 2; /* Ensure it is above the image */
}
.card:hover {
  background-color: #222222;
}
.card:hover .cardimg {
  box-shadow: 0px 3px 10px 1px #181818;
}
.card:hover .playbutton {
  cursor: pointer;
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.card:hover .playcard {
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.6));
}
.playbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 58px;
}
.playing {
  display: flex;
  align-items: center;
  /* background-color: red; */
  color: rgb(154, 154, 154);

  font-weight: bolder;
  width: 30vw;
  gap: 5px;
}
.playing img {
  margin-left: 10px;
  width: 37px;
  border-radius: 2px;
}
.currentsong {
  margin: 5px;
}
.currentsongtitle {
  margin: 1px;
  color: white;
  font-size: 7px;
}
.currentsonginfo {
  margin: 1px;
  font-size: 6px;
}
.controls {
  margin: 10px;
  width: 30vw;
  /* background-color: #1db954; */
}
.playback {
  /* background-color: blue; */

  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
#shuffle,
#playprevious,
#playnext,
#repeat {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#shuffle img,
#playprevious img,
#playnext img,
#repeat img {
  filter: invert(0.6);
  width: 10px;
}
#play img {
  width: 10px;
}
#play {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 15px;
}
.volumecontrols {
  margin: 10px;
  display: flex;
  padding: 10px;
  justify-content: end;
  align-items: center;
  /* background-color: green; */
  color: white;
  width: 20vw;
  font-size: 10px;
  font-weight: bolder;
  gap: 5px;
}
.volumecontrols img {
  width: 10px;
  filter: invert(1);
  cursor: pointer;
}
.volumebar {
  display: flex;
  align-items: center;
}
.volume {
  width: 60px;
  height: 3px;
  background: linear-gradient(to right, #1db954 100%, #555 0%);
}
.slider {
  -webkit-appearance: none;
  appearance: none;

  border-radius: 2px;
  transition: background 0.3s;
  position: relative;
}

/* WebKit Thumb (Chrome, Safari) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* appearance: none; */
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  opacity: 0;
}

.slider:hover::-webkit-slider-thumb {
  opacity: 1;
  transition: opacity 0.3s;
}

.played,
.willplay {
  /* background-color: red; */
  width: 20px;
}
.seekbar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  width: 100%;
}
.seek {
  height: 3px;
  width: 98%;
  background: linear-gradient(to right, #1db954 0%, #555 0%);
}
.crrt {
  padding: 5px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 7px;
}
